{% extends 'common/parent.html' %}
{% load static %}

{% block header_data %}
    确认支付
{% endblock %}
{% block head_js %}

    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/iscroll.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#beginTime').date();
            $('#endTime').date({theme: "datetime"});
        });
    </script>
{% endblock %}

{% block content %}
    <h5 class="order-tit">收货人信息</h5>
    <div class="order-name">
        <a href="gladdress.html">
            <p class="order-tele">{{ order.username }}&emsp;{{ order.phone }}</p>
            <p class="order-add">{{ order.address }}</p>
        </a>
        <i class="am-icon-angle-right"></i>
    </div>
    <div style="background: #eee; height: 10px;"></div>
    <h5 class="order-tit">确认订单信息</h5>
    <ul class="shopcart-list" style="padding-bottom: 0; margin-top: 0;">
        {% for order_goods in order.ordergoods_set.all %}

            <li>
                <img src="{{ MEDIA_URL }}{{ order_goods.goods_sku.logo }}" class="shop-pic"/>
                <div class="order-mid">
                    <div class="tit">{{ order_goods.goods_sku.goods_spu }}&nbsp;&nbsp;{{ order_goods.goods_sku.sku_name }}</div>
                    <div class="order-price">￥{{ order_goods.price }} <i>X{{ order_goods.count }}</i></div>
                </div>
            </li>
        {% endfor %}


    </ul>
    <ul class="order-infor">
        <li class="order-infor-first">
            <span>商品总计：</span>
            <i>￥{{ order.goods_total_price }}</i>
        </li>
        <li class="order-infor-first">
            <span>运输方式：</span>
            <i>{{ order.transport }}快递</i>
        </li>
        <li class="order-infor-first">
            <span>运费：</span>
            <i>￥{{ order.transport_price }}</i>
        </li>
        <li class="order-infor-first">
            <a href="integral.html">积分抵费></a>
        </li>
        <li class="order-infor-first">
            <a href="yhq.html">选择优惠券></a>
        </li>
    </ul>
    <!--<div style="background: #eee; height: 10px;"></div>

    <input id="beginTime" class="select-time" placeholder="请选择配送时间 >" /></div>
    <div id="datePlugin"></div>-->
    <div style="background: #eee; height: 10px;"></div>
    <textarea placeholder="备注说明" class="bz-infor"></textarea>
    <div style="background: #eee; height: 10px;"></div>
    <ul class="pay-style">
        <form action="" method="post">
        {% csrf_token %}
            <input type="hidden" name="order_sn" value="{{ order.order_sn }}">
            {% for payment in payments %}
                <li>
                    <img src="{{ MEDIA_URL }}{{ payment.logo }}" width="50"/>
                    <span>
		   	 		<p>{{ payment.name }}</p>
		   	 		<p class="descript">{{ payment.brief }}</p>
		   	 	</span>
                    <label class="am-radio-inline">
                        <input type="radio" {% if payment.is_tuijian %}
                               checked="checked"
                        {% endif %}
                               name="payment" value="{{ payment.pk }}" data-am-ucheck>
                    </label>
                </li>

            {% endfor %}</form>


    </ul>
    <div style="background: #eee; height: 10px;"></div>
    <div style="height: 55px;"></div>

    <div class="shop-fix">
        <div class="order-text">
            应付总额：<span>￥{{ order.order_total_price }}</span>
        </div>
        <a href="pay.html" class="js-btn">确认支付</a>
    </div>


{% endblock %}

{% block footer %}
    <!--底部-->
    {% include 'common/footer.html' %}
{% endblock %}

{% block footer_js %}
    <script>

    </script>
{% endblock %}
